.jumbotron{
	height: 100vh;
	margin-bottom:0;
}

#spinner-holder{
	display:none;
}

#answer{
	height:120px;
}

.button-holder button{
	margin-right:20px;
}

.checkboxes-holder{
	position:relative;
}

.checkboxes{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.main.container{
	background-color:#ffffff;
	box-shadow: 5px 5px 5px #ccc;
	min-height:720px;
}

.mark-style{
	background: #20b133;
}

.results-holder{
	margin:20px 10px 10px 10px;
}

.results-holder div{
	padding:5px 0 5px 0;
	border-bottom:1px solid #c7c5c5;
	width:50%;
}

.results-holder div:last-child{
	border-bottom:0px;
}

.rfp-topper{
	width:100%;
	text-align:center;
	margin-bottom: 20px;
	padding-right:15px;
}

hr{
	border-top:1px solid rgb(194, 192, 192);
}
